<%= simple_form_for(@store) do |f| %>
  <div class="form-inputs">
    <%= f.input :city, label: "所在城市" %>
    <%= f.input :name, label: "门店名" %>
    <%= f.input :address, label: "地址" %>
    <%= f.input :phone, label: "联系电话" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "提交表单", class: "btn-primary" %>
  </div>
<% end %>
