<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>订单号</th>
      <th>联系信息</th>
      <th>配送/取货信息</th>
      <th>订单总额</th>
      <th>创建时间</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= "warning" if order.unprocessed? %>">
        <td><%= order.serial_number %></td>
        <td><%= order.contact_name %>(<%=  order.contact_phone %>)</td>
        <td>
          <%= order.takeout_time %>
          <%= order.takeout_store %>
          <%= order.shipping_address %>
        </td>
        <td><%= number_to_currency(order.amount, unit: "￥") %></td>
				<td><%= l order.created_at, format: :short %></td>
        <td>
          <%= link_to '订单详情', order, class: "btn btn-default btn-xs" %>
          <%= link_to '修改', edit_order_path(order), class: "btn btn-primary btn-xs" %>
          <%= link_to '删除', order, method: :delete, data: { confirm: '确定要删除这张订单吗?' }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="99">
        <ul class="list-unstyled notes">
          <li><span class="new-order"></span>: 代表这张订单是一张未处理的订单。</td></li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>

<%= link_to '创建新订单', new_order_path, class: "btn btn-large btn-primary" %>
