<h4>商品种类列表</h4>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>名称</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><strong><%= category.name %></strong></td>
        <td>
          <%= link_to '修改', edit_category_path(category), class: "btn btn-xs btn-primary" %>
          <%= link_to '删除', category, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: '确定要删除这个商品种类吗？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="99"><%= link_to '创建新商品种类', new_category_path, class: "btn btn-large btn-primary" %></td>
    </tr>
  </tfoot>
</table>

<h4>商品列表</h4>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>种类</th>
      <th>商品名</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @products.group_by(&:category).each do |category, products| %>
      <% products.each_with_index do |product, index| %>
        <tr>
          <% if index == 0 %>
            <td rowspan="<%= products.count %>"><%= category %></td>
          <% end %>
          <td><strong><%= product.name %></strong></td>
          <td>
            <%= link_to '修改', edit_product_path(product), class: "btn btn-xs btn-primary" %>
            <%= link_to '删除', product, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: '确定要删除这个商品吗？' } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="99"><%= link_to '创建新商品', new_product_path, class: "btn btn-large btn-primary" %></td>
    </tr>
  </tfoot>
</table>
